:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100vh;

  .control-panel {
    background-color: #777;
    opacity: .7;


    
    height: 4rem;
    z-index: 10;

    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding-inline: 1.5rem;

    .panel-left {
      // color: black;
      font-size: 1.5rem;
      position: relative;
      
      .flight-map {
        
        border: 2px solid rgba(255, 255, 255, 0.87);
        background-color: rgba(255, 255, 255, 0.15);
        width: 8rem;
        padding: 1rem;
        font-size: 1rem;
        position: absolute;
        bottom: 4rem;
        border-radius: 6px;
        mix-blend-mode: difference;
        li {
          list-style: none;
          cursor: pointer;
          &:hover {
            
            background: white;
            color: black;
            font-weight: bold;
          }
        }
      }
    }

    button {
      font-size: .75rem;
      font-weight: bold;
      border-radius: 8px;
      height: 2rem;
      padding: 0 1rem;
      color: white;
      background-color: #555;
    }
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.popup-text {
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}



.mapboxgl-ctrl-logo {
  display: none !important;
}